
.idea/.idea.CSharpPracticalWork/.idea/indexLayout.xml
.idea/.idea.CSharpPracticalWork/.idea/workspace.xml
practical-work-6/PW_06_Files/.idea/.idea.PW_06_Files/.idea/indexLayout.xml
practical-work-6/PW_06_Files/.idea/.idea.PW_06_Files/.idea/vcs.xml
practical-work-6/PW_06_Files/Files/bin/Debug/net6.0/employees.txt
practical-work-6/PW_06_Files/Files/bin/Debug/net6.0/Files
practical-work-6/PW_06_Files/Files/bin/Debug/net6.0/Files.deps.json
practical-work-6/PW_06_Files/Files/bin/Debug/net6.0/Files.dll
practical-work-6/PW_06_Files/Files/bin/Debug/net6.0/Files.pdb
practical-work-6/PW_06_Files/Files/bin/Debug/net6.0/Files.runtimeconfig.json
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/apphost
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.AssemblyInfo.cs
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.AssemblyInfoInputs.cache
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.assets.cache
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.csproj.AssemblyReference.cache
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.csproj.CoreCompileInputs.cache
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.csproj.FileListAbsolute.txt
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.dll
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.GeneratedMSBuildEditorConfig.editorconfig
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.genruntimeconfig.cache
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.GlobalUsings.g.cs
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.pdb
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/PW_06_Files.AssemblyInfo.cs
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/PW_06_Files.AssemblyInfoInputs.cache
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/PW_06_Files.assets.cache
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/PW_06_Files.csproj.AssemblyReference.cache
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/PW_06_Files.GeneratedMSBuildEditorConfig.editorconfig
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/PW_06_Files.GlobalUsings.g.cs
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/ref/Files.dll
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/refint/Files.dll
practical-work-6/PW_06_Files/Files/obj/Files.csproj.nuget.dgspec.json
practical-work-6/PW_06_Files/Files/obj/Files.csproj.nuget.g.props
practical-work-6/PW_06_Files/Files/obj/Files.csproj.nuget.g.targets
practical-work-6/PW_06_Files/Files/obj/project.assets.json
practical-work-6/PW_06_Files/Files/obj/project.nuget.cache
practical-work-6/PW_06_Files/Files/obj/project.packagespec.json
practical-work-6/PW_06_Files/Files/obj/PW_06_Files.csproj.nuget.dgspec.json
practical-work-6/PW_06_Files/Files/obj/PW_06_Files.csproj.nuget.g.props
practical-work-6/PW_06_Files/Files/obj/PW_06_Files.csproj.nuget.g.targets
practical-work-6/PW_06_Files/Files/obj/rider.project.restore.info
.DS_Store
.DS_Store
.DS_Store
practical-work-7/Notebook/.idea/.idea.Notebook/.idea/indexLayout.xml
practical-work-7/Notebook/.idea/.idea.Notebook/.idea/vcs.xml
practical-work-7/Notebook/Notebook/bin/Debug/net6.0/employees.txt
practical-work-7/Notebook/Notebook/bin/Debug/net6.0/Notebook
practical-work-7/Notebook/Notebook/bin/Debug/net6.0/Notebook.deps.json
practical-work-7/Notebook/Notebook/bin/Debug/net6.0/Notebook.dll
practical-work-7/Notebook/Notebook/obj/rider.project.restore.info
practical-work-7/Notebook/Notebook/obj/project.packagespec.json
practical-work-7/Notebook/Notebook/obj/project.nuget.cache
practical-work-7/Notebook/Notebook/obj/project.assets.json
practical-work-7/Notebook/Notebook/obj/Notebook.csproj.nuget.g.targets
practical-work-7/Notebook/Notebook/obj/Notebook.csproj.nuget.g.props
practical-work-7/Notebook/Notebook/obj/Notebook.csproj.nuget.dgspec.json
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/refint/Notebook.dll
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/ref/Notebook.dll
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.assets.cache
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.csproj.AssemblyReference.cache
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.csproj.CoreCompileInputs.cache
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.csproj.FileListAbsolute.txt
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.dll
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.GeneratedMSBuildEditorConfig.editorconfig
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.genruntimeconfig.cache
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.GlobalUsings.g.cs
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.pdb
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.AssemblyInfoInputs.cache
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.AssemblyInfo.cs
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/apphost
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
practical-work-7/Notebook/Notebook/bin/Debug/net6.0/Notebook.runtimeconfig.json
practical-work-7/Notebook/Notebook/bin/Debug/net6.0/Notebook.pdb
