
.idea/.idea.CSharpPracticalWork/.idea/indexLayout.xml
.idea/.idea.CSharpPracticalWork/.idea/workspace.xml
practical-work-6/PW_06_Files/.idea/.idea.PW_06_Files/.idea/indexLayout.xml
practical-work-6/PW_06_Files/.idea/.idea.PW_06_Files/.idea/vcs.xml
practical-work-6/PW_06_Files/Files/bin/Debug/net6.0/employees.txt
practical-work-6/PW_06_Files/Files/bin/Debug/net6.0/Files
practical-work-6/PW_06_Files/Files/bin/Debug/net6.0/Files.deps.json
practical-work-6/PW_06_Files/Files/bin/Debug/net6.0/Files.dll
practical-work-6/PW_06_Files/Files/bin/Debug/net6.0/Files.pdb
practical-work-6/PW_06_Files/Files/bin/Debug/net6.0/Files.runtimeconfig.json
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/apphost
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.AssemblyInfo.cs
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.AssemblyInfoInputs.cache
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.assets.cache
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.csproj.AssemblyReference.cache
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.csproj.CoreCompileInputs.cache
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.csproj.FileListAbsolute.txt
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.dll
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.GeneratedMSBuildEditorConfig.editorconfig
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.genruntimeconfig.cache
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.GlobalUsings.g.cs
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/Files.pdb
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/PW_06_Files.AssemblyInfo.cs
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/PW_06_Files.AssemblyInfoInputs.cache
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/PW_06_Files.assets.cache
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/PW_06_Files.csproj.AssemblyReference.cache
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/PW_06_Files.GeneratedMSBuildEditorConfig.editorconfig
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/PW_06_Files.GlobalUsings.g.cs
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/ref/Files.dll
practical-work-6/PW_06_Files/Files/obj/Debug/net6.0/refint/Files.dll
practical-work-6/PW_06_Files/Files/obj/Files.csproj.nuget.dgspec.json
practical-work-6/PW_06_Files/Files/obj/Files.csproj.nuget.g.props
practical-work-6/PW_06_Files/Files/obj/Files.csproj.nuget.g.targets
practical-work-6/PW_06_Files/Files/obj/project.assets.json
practical-work-6/PW_06_Files/Files/obj/project.nuget.cache
practical-work-6/PW_06_Files/Files/obj/project.packagespec.json
practical-work-6/PW_06_Files/Files/obj/PW_06_Files.csproj.nuget.dgspec.json
practical-work-6/PW_06_Files/Files/obj/PW_06_Files.csproj.nuget.g.props
practical-work-6/PW_06_Files/Files/obj/PW_06_Files.csproj.nuget.g.targets
practical-work-6/PW_06_Files/Files/obj/rider.project.restore.info
.DS_Store
.DS_Store
.DS_Store
practical-work-7/Notebook/.idea/.idea.Notebook/.idea/indexLayout.xml
practical-work-7/Notebook/.idea/.idea.Notebook/.idea/vcs.xml
practical-work-7/Notebook/Notebook/bin/Debug/net6.0/employees.txt
practical-work-7/Notebook/Notebook/bin/Debug/net6.0/Notebook
practical-work-7/Notebook/Notebook/bin/Debug/net6.0/Notebook.deps.json
practical-work-7/Notebook/Notebook/bin/Debug/net6.0/Notebook.dll
practical-work-7/Notebook/Notebook/obj/rider.project.restore.info
practical-work-7/Notebook/Notebook/obj/project.packagespec.json
practical-work-7/Notebook/Notebook/obj/project.nuget.cache
practical-work-7/Notebook/Notebook/obj/project.assets.json
practical-work-7/Notebook/Notebook/obj/Notebook.csproj.nuget.g.targets
practical-work-7/Notebook/Notebook/obj/Notebook.csproj.nuget.g.props
practical-work-7/Notebook/Notebook/obj/Notebook.csproj.nuget.dgspec.json
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/refint/Notebook.dll
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/ref/Notebook.dll
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.assets.cache
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.csproj.AssemblyReference.cache
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.csproj.CoreCompileInputs.cache
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.csproj.FileListAbsolute.txt
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.dll
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.GeneratedMSBuildEditorConfig.editorconfig
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.genruntimeconfig.cache
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.GlobalUsings.g.cs
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.pdb
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.AssemblyInfoInputs.cache
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/Notebook.AssemblyInfo.cs
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/apphost
practical-work-7/Notebook/Notebook/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
practical-work-7/Notebook/Notebook/bin/Debug/net6.0/Notebook.runtimeconfig.json
practical-work-7/Notebook/Notebook/bin/Debug/net6.0/Notebook.pdb
.DS_Store
practical-work-8/Collections/.idea/.idea.Collections/.idea/indexLayout.xml
practical-work-8/Collections/HashSetCollection/bin/Debug/net6.0/HashSetCollection
practical-work-8/Collections/HashSetCollection/bin/Debug/net6.0/HashSetCollection.deps.json
practical-work-8/Collections/HashSetCollection/bin/Debug/net6.0/HashSetCollection.dll
practical-work-8/Collections/HashSetCollection/bin/Debug/net6.0/HashSetCollection.pdb
practical-work-8/Collections/HashSetCollection/bin/Debug/net6.0/HashSetCollection.runtimeconfig.json
practical-work-8/Collections/HashSetCollection/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
practical-work-8/Collections/HashSetCollection/obj/Debug/net6.0/apphost
practical-work-8/Collections/HashSetCollection/obj/Debug/net6.0/HashSetCollection.AssemblyInfo.cs
practical-work-8/Collections/HashSetCollection/obj/Debug/net6.0/HashSetCollection.AssemblyInfoInputs.cache
practical-work-8/Collections/HashSetCollection/obj/Debug/net6.0/HashSetCollection.assets.cache
practical-work-8/Collections/HashSetCollection/obj/Debug/net6.0/HashSetCollection.csproj.AssemblyReference.cache
practical-work-8/Collections/HashSetCollection/obj/Debug/net6.0/HashSetCollection.csproj.CoreCompileInputs.cache
practical-work-8/Collections/HashSetCollection/obj/Debug/net6.0/HashSetCollection.csproj.FileListAbsolute.txt
practical-work-8/Collections/HashSetCollection/obj/Debug/net6.0/HashSetCollection.dll
practical-work-8/Collections/HashSetCollection/obj/Debug/net6.0/HashSetCollection.GeneratedMSBuildEditorConfig.editorconfig
practical-work-8/Collections/HashSetCollection/obj/Debug/net6.0/HashSetCollection.genruntimeconfig.cache
practical-work-8/Collections/HashSetCollection/obj/Debug/net6.0/HashSetCollection.GlobalUsings.g.cs
practical-work-8/Collections/HashSetCollection/obj/Debug/net6.0/HashSetCollection.pdb
practical-work-8/Collections/HashSetCollection/obj/Debug/net6.0/ref/HashSetCollection.dll
practical-work-8/Collections/HashSetCollection/obj/Debug/net6.0/refint/HashSetCollection.dll
practical-work-8/Collections/HashSetCollection/obj/HashSetCollection.csproj.nuget.dgspec.json
practical-work-8/Collections/HashSetCollection/obj/HashSetCollection.csproj.nuget.g.props
practical-work-8/Collections/HashSetCollection/obj/HashSetCollection.csproj.nuget.g.targets
practical-work-8/Collections/HashSetCollection/obj/project.assets.json
practical-work-8/Collections/HashSetCollection/obj/project.nuget.cache
practical-work-8/Collections/HashSetCollection/obj/project.packagespec.json
practical-work-8/Collections/HashSetCollection/obj/rider.project.restore.info
practical-work-8/Collections/ListCollection/bin/Debug/net6.0/ListCollection
practical-work-8/Collections/ListCollection/bin/Debug/net6.0/ListCollection.deps.json
practical-work-8/Collections/ListCollection/bin/Debug/net6.0/ListCollection.dll
practical-work-8/Collections/ListCollection/bin/Debug/net6.0/ListCollection.pdb
practical-work-8/Collections/ListCollection/bin/Debug/net6.0/ListCollection.runtimeconfig.json
practical-work-8/Collections/ListCollection/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
practical-work-8/Collections/ListCollection/obj/Debug/net6.0/apphost
practical-work-8/Collections/ListCollection/obj/Debug/net6.0/ListCollection.AssemblyInfo.cs
practical-work-8/Collections/ListCollection/obj/Debug/net6.0/ListCollection.AssemblyInfoInputs.cache
practical-work-8/Collections/ListCollection/obj/Debug/net6.0/ListCollection.assets.cache
practical-work-8/Collections/ListCollection/obj/Debug/net6.0/ListCollection.csproj.AssemblyReference.cache
practical-work-8/Collections/ListCollection/obj/Debug/net6.0/ListCollection.csproj.CoreCompileInputs.cache
practical-work-8/Collections/ListCollection/obj/Debug/net6.0/ListCollection.csproj.FileListAbsolute.txt
practical-work-8/Collections/ListCollection/obj/Debug/net6.0/ListCollection.dll
practical-work-8/Collections/ListCollection/obj/Debug/net6.0/ListCollection.GeneratedMSBuildEditorConfig.editorconfig
practical-work-8/Collections/ListCollection/obj/Debug/net6.0/ListCollection.genruntimeconfig.cache
practical-work-8/Collections/ListCollection/obj/Debug/net6.0/ListCollection.GlobalUsings.g.cs
practical-work-8/Collections/ListCollection/obj/Debug/net6.0/ListCollection.pdb
practical-work-8/Collections/ListCollection/obj/Debug/net6.0/ref/ListCollection.dll
practical-work-8/Collections/ListCollection/obj/Debug/net6.0/refint/ListCollection.dll
practical-work-8/Collections/ListCollection/obj/ListCollection.csproj.nuget.dgspec.json
practical-work-8/Collections/ListCollection/obj/ListCollection.csproj.nuget.g.props
practical-work-8/Collections/ListCollection/obj/ListCollection.csproj.nuget.g.targets
practical-work-8/Collections/ListCollection/obj/project.assets.json
practical-work-8/Collections/ListCollection/obj/project.nuget.cache
practical-work-8/Collections/ListCollection/obj/project.packagespec.json
practical-work-8/Collections/ListCollection/obj/rider.project.restore.info
practical-work-8/Collections/TelephoneDictionary/bin/Debug/net6.0/TelephoneDictionary
practical-work-8/Collections/TelephoneDictionary/bin/Debug/net6.0/TelephoneDictionary.deps.json
practical-work-8/Collections/TelephoneDictionary/bin/Debug/net6.0/TelephoneDictionary.dll
practical-work-8/Collections/TelephoneDictionary/bin/Debug/net6.0/TelephoneDictionary.pdb
practical-work-8/Collections/TelephoneDictionary/bin/Debug/net6.0/TelephoneDictionary.runtimeconfig.json
practical-work-8/Collections/TelephoneDictionary/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
practical-work-8/Collections/TelephoneDictionary/obj/Debug/net6.0/apphost
practical-work-8/Collections/TelephoneDictionary/obj/Debug/net6.0/ref/TelephoneDictionary.dll
practical-work-8/Collections/TelephoneDictionary/obj/Debug/net6.0/refint/TelephoneDictionary.dll
practical-work-8/Collections/TelephoneDictionary/obj/Debug/net6.0/TelephoneDictionary.AssemblyInfo.cs
practical-work-8/Collections/TelephoneDictionary/obj/Debug/net6.0/TelephoneDictionary.AssemblyInfoInputs.cache
practical-work-8/Collections/TelephoneDictionary/obj/Debug/net6.0/TelephoneDictionary.assets.cache
practical-work-8/Collections/TelephoneDictionary/obj/Debug/net6.0/TelephoneDictionary.csproj.AssemblyReference.cache
practical-work-8/Collections/TelephoneDictionary/obj/Debug/net6.0/TelephoneDictionary.csproj.CoreCompileInputs.cache
practical-work-8/Collections/TelephoneDictionary/obj/Debug/net6.0/TelephoneDictionary.csproj.FileListAbsolute.txt
practical-work-8/Collections/TelephoneDictionary/obj/Debug/net6.0/TelephoneDictionary.dll
practical-work-8/Collections/TelephoneDictionary/obj/Debug/net6.0/TelephoneDictionary.GeneratedMSBuildEditorConfig.editorconfig
practical-work-8/Collections/TelephoneDictionary/obj/Debug/net6.0/TelephoneDictionary.genruntimeconfig.cache
practical-work-8/Collections/TelephoneDictionary/obj/Debug/net6.0/TelephoneDictionary.GlobalUsings.g.cs
practical-work-8/Collections/TelephoneDictionary/obj/Debug/net6.0/TelephoneDictionary.pdb
practical-work-8/Collections/TelephoneDictionary/obj/project.assets.json
practical-work-8/Collections/TelephoneDictionary/obj/project.nuget.cache
practical-work-8/Collections/TelephoneDictionary/obj/project.packagespec.json
practical-work-8/Collections/TelephoneDictionary/obj/rider.project.restore.info
practical-work-8/Collections/TelephoneDictionary/obj/TelephoneDictionary.csproj.nuget.dgspec.json
practical-work-8/Collections/TelephoneDictionary/obj/TelephoneDictionary.csproj.nuget.g.props
practical-work-8/Collections/TelephoneDictionary/obj/TelephoneDictionary.csproj.nuget.g.targets
practical-work-8/Collections/XmlTelephoneBook/bin/Debug/net6.0/contact.xml
practical-work-8/Collections/XmlTelephoneBook/bin/Debug/net6.0/contacts.xml
practical-work-8/Collections/XmlTelephoneBook/bin/Debug/net6.0/XmlTelephoneBook
practical-work-8/Collections/XmlTelephoneBook/bin/Debug/net6.0/XmlTelephoneBook.deps.json
practical-work-8/Collections/XmlTelephoneBook/bin/Debug/net6.0/XmlTelephoneBook.dll
practical-work-8/Collections/XmlTelephoneBook/bin/Debug/net6.0/XmlTelephoneBook.pdb
practical-work-8/Collections/XmlTelephoneBook/bin/Debug/net6.0/XmlTelephoneBook.runtimeconfig.json
practical-work-8/Collections/XmlTelephoneBook/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
practical-work-8/Collections/XmlTelephoneBook/obj/Debug/net6.0/apphost
practical-work-8/Collections/XmlTelephoneBook/obj/Debug/net6.0/ref/XmlTelephoneBook.dll
practical-work-8/Collections/XmlTelephoneBook/obj/Debug/net6.0/refint/XmlTelephoneBook.dll
practical-work-8/Collections/XmlTelephoneBook/obj/Debug/net6.0/XmlTelephoneBook.AssemblyInfo.cs
practical-work-8/Collections/XmlTelephoneBook/obj/Debug/net6.0/XmlTelephoneBook.AssemblyInfoInputs.cache
practical-work-8/Collections/XmlTelephoneBook/obj/Debug/net6.0/XmlTelephoneBook.assets.cache
practical-work-8/Collections/XmlTelephoneBook/obj/Debug/net6.0/XmlTelephoneBook.csproj.AssemblyReference.cache
practical-work-8/Collections/XmlTelephoneBook/obj/Debug/net6.0/XmlTelephoneBook.csproj.CoreCompileInputs.cache
practical-work-8/Collections/XmlTelephoneBook/obj/Debug/net6.0/XmlTelephoneBook.csproj.FileListAbsolute.txt
practical-work-8/Collections/XmlTelephoneBook/obj/Debug/net6.0/XmlTelephoneBook.dll
practical-work-8/Collections/XmlTelephoneBook/obj/Debug/net6.0/XmlTelephoneBook.GeneratedMSBuildEditorConfig.editorconfig
practical-work-8/Collections/XmlTelephoneBook/obj/Debug/net6.0/XmlTelephoneBook.genruntimeconfig.cache
practical-work-8/Collections/XmlTelephoneBook/obj/Debug/net6.0/XmlTelephoneBook.GlobalUsings.g.cs
practical-work-8/Collections/XmlTelephoneBook/obj/Debug/net6.0/XmlTelephoneBook.pdb
practical-work-8/Collections/XmlTelephoneBook/obj/project.assets.json
practical-work-8/Collections/XmlTelephoneBook/obj/project.nuget.cache
practical-work-8/Collections/XmlTelephoneBook/obj/project.packagespec.json
practical-work-8/Collections/XmlTelephoneBook/obj/rider.project.restore.info
practical-work-8/Collections/XmlTelephoneBook/obj/XmlTelephoneBook.csproj.nuget.dgspec.json
practical-work-8/Collections/XmlTelephoneBook/obj/XmlTelephoneBook.csproj.nuget.g.props
practical-work-8/Collections/XmlTelephoneBook/obj/XmlTelephoneBook.csproj.nuget.g.targets
